<div class="container" [formGroup]="form">
  <table>
    <!-- Display ID and IP -->
    <tr>
      <td class="left">
        <p>Temi ID:</p>
      </td>
      <td class="right">
        <input type="text" formControlName="id" placeholder="id" />
      </td>
    </tr>

    <tr>
      <td class="left">
        <p>Temi IP:</p>
      </td>
      <td class="right">
        <input type="text" formControlName="ip" placeholder="ip" />
      </td>
    </tr>

    <!-- Function selection -->
    <tr>
      <td class="left">
        <p>功能:</p>
      </td>
      <td class="right">
        <button type="button" (click)="selectFunc('addLocation')">新增地點</button>
        <button type="button" (click)="selectFunc('goToLocation')">前往地點</button>
      </td>
    </tr>
    <tr>
      <td class="left">
        <p></p>
      </td>
      <td class="right2">
        <button type="button" (click)="selectFunc('deleteLocation')">刪除地點</button>
        <button type="button" (click)="selectFunc('speak')">說話</button>
      </td>
    </tr>

    <!-- Parameter input based on selected function -->
    <tr>
      <td class="left">
        <p>參數:</p>
      </td>
      <td class="right">
        <ng-container [ngSwitch]="selectedFunc">
          <input *ngSwitchCase="'addLocation'" type="text" formControlName="addLocation" placeholder="Temi 要記住的新位置名稱" />

          <select *ngSwitchCase="'goToLocation'" formControlName="goToLocation">
            <option value="">-- 請選擇要前往的地點 --</option>
            <option *ngFor="let location of locations" [value]="location">{{location}}</option>
          </select>

          <select *ngSwitchCase="'deleteLocation'" formControlName="deleteLocation">
            <option value="">-- 請選擇要刪除的地點 --</option>
            <option *ngFor="let location of locations" [value]="location">{{location}}</option>
          </select>

          <input *ngSwitchCase="'speak'" type="text" formControlName="speak" placeholder="Temi 要說什麼" />
        </ng-container>
      </td>
    </tr>

    <!-- Submit button based on selected function -->
    <tr>
      <td colspan="2" class="center">
        <ng-container [ngSwitch]="selectedFunc">
          <button *ngSwitchCase="'addLocation'" type="button" class="run-button" (click)="sendCommand()">Save</button>
          <button *ngSwitchCase="'goToLocation'" type="button" class="run-button" (click)="sendCommand()">Go</button>
          <button *ngSwitchCase="'deleteLocation'" type="button" class="run-button" (click)="sendCommand()">Delete</button>
          <button *ngSwitchCase="'speak'" type="button" class="run-button" (click)="sendCommand()">Speak</button>
        </ng-container>
      </td>
    </tr>
  </table>
</div>
